* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
.texto{
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    padding: 100px;
}
.nombres{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}